.header-wrap
  .header-top
    = link_to root_path, class: 'home-btn' do
      = image_tag 'logo/logo.png'
  .header-nav
    .header-nav__left-box
    .header-nav__right-box
      = link_to 'ログイン', '#', class: 'header-nav__right-box--login'
      = link_to '新規会員登録', users_path , class: 'header-nav__right-box--signup'