.search-container{
  overflow: hidden;
  margin: 40px auto 0;
  width: 1020px;
  .advanced-search{
    float: left;
    width: 280px;
    margin-right: 40px;
    &__sort{
      select{
        height: 48px;
        width: 100%;
        padding: 0 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }
    }
    &__queries{
      margin: 40px 0;
      padding: 16px;
      background-color: $whiteColor;
      h3{
        font-size: 16px;
        font-weight: bold;
      }
      .form_group{
        margin-top: 40px;
        &:first-child{
          margin-top: 24px;
        }
        &__title{
          .method-icon{
            margin-right: 4px;
            color: #888;
            font-size: 16px;
          }
          .method-title{
            font-size: 14px;
            font-weight: bold;
          }
        }
        &__input{
          overflow: hidden;
          input,select{
            margin-top: 8px;
            padding: 10px 16px 8px;
            width: 100%;
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .price-range{
            float: left;
            input{
              width: 45%;
            }
            span{
              line-height: 48px;
            }
          }
          .check-boxes{
            overflow: hidden;
            width: 100%;
            .check-box{
              overflow: hidden;
              margin-top: 16px;
              width: 48%;
              float: left;
              input{
                width: 20px;
                height: 20px;
                margin: 0 8px 0 0;
                float: left;
                cursor: pointer;
              }
              label{
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    &__btn{
      overflow: hidden;
      height: 90px;
      padding-top: 40px;
      .reset-query{
        float: left;
        width: 45%;
        line-height: 48px;
        border-radius: 4px;
        border: none;
        color: $whiteColor;
        background-color: #aaa;
      }
      .submit-query{
        float: right;
        width: 45%;
        line-height: 48px;
        border-radius: 4px;
        border: none;
        color: $whiteColor;
        background-color: $redColor;
      }
    }
  }
  .show-search-results{
    float: right;
    width: 700px;
    .search-results{
      h2{
        font-size: 22px;
        margin-bottom: 8px;
        span{
          font-size: 18px;
          margin-right: 4px;
        }
      }
      &__number{
        margin: 16px 0;
        font-size: 12px;
        color: #888;
      }
      &__items{
        overflow: hidden;
        .item{
          float: left;
          width: 160px;
          height: 265px;
          margin: 0 20px 20px 0;
          background-color: #fff;
          &:nth-child(4n){
            margin: 0;
          }
          a{
            text-decoration: none;
            display: block;
            img{
              width: 100%;
              height: 150px;
              object-fit: cover;
            }
            .item__info{
              color: #333;
              line-height: 1.5;
              padding: 16px;
              &__name{
                font-size: 16px;
                text-align: left;
              }
            }
            .item__info__details{
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .likes{
                  letter-spacing: 1px;
                &:before{
                  font-family: "Font Awesome 5 Free"; 
                  font-weight: normal;
                  content: "\f004";
                  }
                }
              }
              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}