.index
  .index__container
    .index__container__top
      購入内容の確認
    .index__container__item
      .index__container__item__all
        = image_tag( "pict-reason-03.jpg", class: "index__container__item__all__img")
        .index__container__item__all__right-content
          .index__container__item__all__right-content__name
            ★送料込み RANDA ランダ ウエッジサンダル ベージュ ●箱無し
          .index__container__item__all__right-content__price
            ¥1,300 （税込）送料込み
    .index__container__payment-info
      .index__container__payment-info__price
        .index__container__payment-info__price--left
          支払金額
        .index__container__payment-info__price--right
          ¥1,300
        .index__container__payment-info__price--bottom
          ポイントを使用 (所持ポイント: P0)
      .index__container__payment-info__method
        .index__container__payment-info__method--upper
          支払方法
          = form_with url: orders_index_path do
            :plain
              <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="公開鍵"></script>
      .index__container__payment-info__address
        .index__container__payment-info__address--upper
          配送先
        .index__container__payment-info__address--lower
          = link_to "+登録してください", addresses_index_path
    .index__container__bottom
      .index__container__bottom__btn
        %input{type: "submit", value: "購入する", class: "index__container__bottom__btn--send"}