.wrapper
  = render "layouts/header"

  .index
    .index__container
      .index__container__top
        .index__container__top__title
          購入内容の確認
      .index__container__payment-info
        .index__container__payment-info__item
          .index__container__payment-info__item__all
            = image_tag( "pict/bag.jpg", class: "index__container__payment-info__item__all__img")
            .index__container__payment-info__item__all__right-content
              .index__container__payment-info__item__all__right-content__name
                ★送料込み ビジネスバッグ ブラウン
              .index__container__payment-info__item__all__right-content__price
                ¥4,300 （税込）送料込み
        .index__container__payment-info__price
          .index__container__payment-info__price__all
            .index__container__payment-info__price__all__upper
              .index__container__payment-info__price__all__upper--left
                支払金額
              .index__container__payment-info__price__all__upper--right
                ¥1,300
            .index__container__payment-info__price__all--bottom
              ポイントを使用 (所持ポイント: P0)
        .index__container__payment-info__method
          .index__container__payment-info__method__all
            .index__container__payment-info__method__all--upper
              支払方法
            .index__container__payment-info__method__all--lower
              = form_with url: orders_path do
                :plain
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="公開鍵"></script>
        .index__container__payment-info__address
          .index__container__payment-info__address__all
            .index__container__payment-info__address__all--upper
              配送先
            .index__container__payment-info__address__all--lower
              = link_to "+登録してください", shipping_addresses_path
      .index__container__bottom
        %input{type: "submit", value: "購入する", class: "index__container__bottom__btn"}