body {
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.single-main{
  &_container{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &_title{
      box-sizing: border-box;
      text-align: center;
      font-size: 22px;
      padding: 32px;
      border-bottom: thin solid #f5f5f5
    }
    &_register{
      padding: 40px 40px 64px;
      &_step1{
        max-width: 343px;
        margin: 0 auto;
      }
    }
  }
}

.btn-def {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin: 16px 0 0;
  &--mail{
    position: relative;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    color: #fff;
    background-color: #ea352d;
    .far.fa-envelope{
      position: absolute;
      top: 50%;
      left: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      font-size: 20px;
    }
  }
  &--facebook{
    position: relative;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    background: #385185;
    color: #fff;
    .fab.fa-facebook-square{
      position: absolute;
      top: 50%;
      left: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      font-size: 20px;
    }
  }
  &--google{
    position: relative;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    background-color: #ededed;
    border: #979797 solid 1px;
    color: #333;
    .fab.fa-google{
      position: absolute;
      top: 50%;
      left: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: blue($color: #2000d8);
      font-size: 20px;
    }
  }
  &--login{
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    margin: 16px 0 0;
    color: #fff;
    background-color: #0099e8;
  }
}

.single-footer{
  position: absolute;
  height: 220px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  box-sizing: border-box;
  & nav{
    height: 12px;
  }
  & ol{
    width: 456px;
    height: 12px;
  }
  & li{
    display: inline-block;
    width: 148px;
    font-size: 12px;
  }
  & a{
    display: block;
    color: #333;
  }
 
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    display: block;
    color: #333;
  }

  & p{
    margin: 8px 0 0;
    font-size: 13px;
  }
}

.single-main-login{
  display: block;
}

.login-panel{
  width: 456px;
  margin: 0 auto;
  background: #fff;
}

.login-no-account{
  padding: 40px 64px;
  text-align: center;
}

.login-form-inner{
  padding: 32px 64px;
  border-top: 1px solid #eee;
}

.form-group{
  margin-top: 32px;
  & label{
    font-weight: 600;
    display: inline-block;
    touch-action: manipulation;
  }

  &__input{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.btn-red{
  margin-top: 24px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}