.main_container {
  background-color: #f8f8f8;
  .mypage-container {
    margin: 40px auto 0;
    padding: 0 0 40px;
    width: 700px;
    display: flex;
    .mypage-side {
      width: 280px;
      margin: 0 40px 0 0;
      &__nav__head {
        margin: 40px 0 0;
        padding: 0 8px 8px;
        font-size: 16px;
        font-weight: bold;
      }
      &__nav__list {
        &--item {
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          padding: 16px;
          border-bottom: 1px solid #eee;
          .fa-angle-right {
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            transform: translate(0, -50%);
            transition: all ease-out .2s;
          }
          &:hover{
            background-color: #f6f6f6;
            .fa-angle-right{
              top: 50%;
              right: 12px;
              color: #333333;
            }
          }
        }
        .active {
          background: #eee;
          font-weight: 600;
          color: #333;
        }
      }
    }
  }
  .mypage-content {
    width : 100%;
    .mypage-logout-content {
      background-color: #fff;
      border-top: 1px solid #f5f5f5;
      padding: 40px;
    }
    .mypage-user-icon {
      position: relative;
      height: 160px;
      padding: 20px;
      background-color: #f3f3f3;
      a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
        text-align: center;
      }
      figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
      }
      &__name {
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
      }
      &__number {
        margin: 8px 0 0;
        font-size: 0;
        div {
          display: inline-block;
          font-size: 14px;
        }
        span {
          margin: 0 16px 0 8px;
          font-size: 16px;
        }
      }
    }
    section {
      display: block;
    }
    .mypage-tab-container {
      margin: 0;
      background: #fff;
      .mypage-tab-head {
        padding: 0 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      .mypage-tabs {
        @include tab-default;
      }
      .tab-content {
        ul { display: none; }
        li { border-bottom: 1px solid #eee; }
        .show {
          display: block;
        }
        figure {
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
        }
        &__item-link {
          position: relative;
          display: block;
          min-height: 80px;
          padding: 16px;
          color: #333;
          &__body{
            margin: 0 40px 0 68px;
            &--text {        
              display: block;
              max-height: 4.4em;
              text-overflow: ellipsis;
              line-height: 1.5;
              time {
                display: inline-block;
                color: #888;
                .far {
                  vertical-align: middle;
                  margin: 0 8px 0 0;
                }
                span {
                  vertical-align: middle;
                }
              }  
            }
            .listing-item-count {
              vertical-align: 2px;
              margin: 0 6px 0 0;
              i {
                vertical-align: middle;
                color: #ccc;
              }
              span {
                vertical-align: middle;
                margin: 0 0 0 2px;
                font-size: 16px;
                color: #888;
              }
            }
          }
          .fa-angle-right {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
          }
        }
        .mypage-view-content {
          padding: 16px;
          a {
            display: block;
            height: 56px;
            margin: 0 auto;
            background-color: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
          }
        }
        &__not-found {
          padding: 160px 0 60px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
    .mypage-pager {
      display: block;
      position: relative;
      font-size: 0;
      text-align: center;
      margin-top: 40px;
      .pager {
        display: inline-block;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
      }
      .pager-prev {
        position: absolute;
        left: 0;
        top: 0;
      }
      .pager-next{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .mypage-tab-container__goods {
      margin: 40px 0 0;
      background-color: #fff;
      .mypage-tab-head {
        padding: 0 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      .mypage-tab-goods {
       @include tab-default;
      }
      .tab-content {
        &__not-found {
          padding: 160px 0 60px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
  }
}