.notifications {
  color: white;
  text-align: center;

  .notice {
    background-color: #5d9dc9;
    height: 25px;
    font-size: 17px;
    padding-top: 5px;
  }

  .alert {
    background-color: gray;
    height: 25px;
    font-size: 17px;
    padding-top: 5px;
  }
}

.single-container{
  padding: 0 0 100px;
}
.single-header {
  height:128px;
  text-align: center;
  &_logo{
    padding: 40px 0 0 0;
    margin: 0 auto;
    &a, img{
      height: 49px;
      line-height: 49px;
    }
  }
}
