body {
  background-color: #eeffff;
}

.header{
<<<<<<< HEAD
  background-color: white;

  img {
    padding: 20px;

  }
}
.contents {
  width: 700px;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  color: darkblue;
  margin-top: 20px;

  span{
    color: red;
    font-size: small;
  }

  .item-infomation{
    width: 400px;
    margin: auto;
    padding-top: 30px;

    .images{
      padding-top: 20px;
      height: 230px;
 
      &__title {
        p{
          font-size: 12px;
          margin: 5px;
        }
      }
      &__form {
        font-size: 10px;
        padding: 5px;
        display: block;

        .upload-images{
          display: block;
          width: 400px;
          height: 150px;
          background-color: #BBBBBB;
          background-image:
          radial-gradient(black 30%, transparent 30%);
          background-size: 3px 3px;
          position: absolute;
          img{
            position: relative;
            margin-top: 15%;
            margin-left: 45%;
          }
        }
      }
    }

    .name{
      height: 100px;
      padding-top: 10px;

      &__title {
        margin-bottom: 10px;
      }

=======
  img {
    padding: 20px;
  }
}
.contents {
  height: 100%;
  width: 700px;
  background-color: #ffffff;
  margin: auto;
  padding-top: 10px;
  
  span{
    color: red;
  }

  .item__infomation{
    width: 400px;
    margin: auto;
    font-size: 17px;

    .images{
      padding-top: 20px;
      height: 100px;
 
      &__title {
        margin-bottom: 10px;
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__img {
        input[type='file'] {
              width: 400px;
              height: 100px;
              background-color: #DCDCDC;
        }
      }
    }
    .name{
      height: 100px;

      &__title {
        margin-bottom: 10px;
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
>>>>>>> c544bdb... span ok
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
<<<<<<< HEAD
        padding: 5px;
=======
>>>>>>> c544bdb... span ok
      }
    }

    .description{
<<<<<<< HEAD
      height: 270px;
      
      &__title {
        margin-bottom: 10px;
      }
      &__form {
        height: 200px;
        width: 400px;
        font-size: 15px;
        padding: 5px;
=======
      height: 400px;
      
      &__title {
        margin-bottom: 10px;
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__form {
        height: 300px;
        width: 400px;
        font-size: 15px;
>>>>>>> c544bdb... span ok
      }
    }

    .category{
      height: 100px;

      &__title {
        margin-bottom: 10px;
<<<<<<< HEAD
=======
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
>>>>>>> c544bdb... span ok
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
<<<<<<< HEAD
        padding: 5px;
=======
>>>>>>> c544bdb... span ok
      }
    }

    .brand{
      height: 100px;

      &__title {
        margin-bottom: 10px;
<<<<<<< HEAD
=======
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
>>>>>>> c544bdb... span ok
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
<<<<<<< HEAD
        padding: 5px;
=======
>>>>>>> c544bdb... span ok
      }
    }

    .condition{
      height: 100px;

      &__title {
        margin-bottom: 10px;
<<<<<<< HEAD
=======
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
>>>>>>> c544bdb... span ok
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
<<<<<<< HEAD
        padding: 5px;
=======
>>>>>>> c544bdb... span ok
      }
    }
  }
  .delivery{
    width: 400px;
    margin: auto;
<<<<<<< HEAD

    .postage {
=======
    font-size: 17px;

    .fee{
>>>>>>> c544bdb... span ok
      height: 100px;

      &__title {
        margin-bottom: 10px;
<<<<<<< HEAD
      }
      &__form {
        height: 30px;
        width: 300px;
        font-size: 15px;
        padding: 5px;
      }
    }

    .prefectures{
=======

        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
      }
    }

    .area{
>>>>>>> c544bdb... span ok
      height: 100px;

      &__title {
        margin-bottom: 10px;
        
<<<<<<< HEAD
      }
      &__form {
        height: 30px;
        width: 300px;
        font-size: 15px;
        padding: 5px;
      }
    }

    .shipping_days{
=======
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
      }
    }

    .days{
>>>>>>> c544bdb... span ok
      height: 100px;

      &__title {
        margin-bottom: 10px;
        
<<<<<<< HEAD
      }
      &__form {
        height: 30px;
        width: 300px;
        font-size: 15px;
        padding: 5px;
=======
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
>>>>>>> c544bdb... span ok
      }
    }
  }
  .selling{
    width: 400px;
    margin: auto;
<<<<<<< HEAD
=======
    font-size: 17px;
>>>>>>> c544bdb... span ok

    .price{
      height: 100px;

      &__title {
        margin-bottom: 10px;
<<<<<<< HEAD
      }
      &__form {
        height: 30px;
        width: 300px;
        font-size: 15px;
        padding: 5px;
=======
        
        b{
          padding: 5px;
          font-size: 10px;
          color: red;
        }
      }
      &__form {
        height: 30px;
        width: 400px;
        font-size: 15px;
>>>>>>> c544bdb... span ok
      }
    }

    .commission{
      height: 50px;
      font-size: 15px;
      color: gray;
<<<<<<< HEAD
      margin: 30px;
=======
>>>>>>> c544bdb... span ok

      ul {
        display: flex;
        justify-content: space-between;
      }
    }

    .profits{
      height: 50px;
      font-size: 15px;
      color: gray;
<<<<<<< HEAD
      margin: 30px;
=======
>>>>>>> c544bdb... span ok

      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .exhibit{
<<<<<<< HEAD
    width: 500px;
    margin: auto;
    padding: 20px;

    .btn {
      width: 100%;
      height: 60px;
      margin: auto;
      display       : inline-block;
      font-size     : 17pt;
      text-align    : center;
      cursor        : pointer;
      padding       : 10px 10px; 
      background    : #00ccff;
      color         : white;
      font-style: normal;
      font-weight: bold;
      line-height   : 1em;
      transition    : .3s;
      box-shadow    : 4px 4px 4px #DDDDDD;
      border        : 2px solid #DDDDDD;
      &:hover {
        box-shadow    : none; 
        color         : #ccff99;
        background    : #BBBBBB;
=======
    width: 300px;
    margin: auto;

    .btn {
      width: 100%;
      margin-bottom: 20px;
      display       : inline-block;
      border-radius : 50%;
      font-size     : 20pt;
      text-align    : center;
      cursor        : pointer;
      padding       : 10px 10px; 
      background    : #ccff99;
      color         : #000000;
      line-height   : 1em;
      transition    : .3s;
      box-shadow    : 3px 3px 3px #666666;
      border        : 2px solid #ccff99;
      &:hover {
        box-shadow    : none;        /* カーソル時の影消去 */
        color         : #ccff99;     /* 背景色     */
        background    : #000000;     /* 文字色     */
>>>>>>> c544bdb... span ok
      }
    }
  }
  .return{
<<<<<<< HEAD
    width: 30px;
    height: 50px;
    margin: auto;
    font-size: 15px;
    padding: 50px;
=======
    width: 50px;
    margin: auto;
    font-size: 15px;
    padding-bottom: 20px;

>>>>>>> c544bdb... span ok
  }
}

.footer {
<<<<<<< HEAD
  height: 200px;
=======
  height: 50px;
>>>>>>> c544bdb... span ok
}