@import "variables.scss";

.wrapper-a{
  @include address-wrapper;
}
.index{
  @include index;
  &__container{
    @include container;
    &__top{
      @include address-top;
      &__title{
        @include title;
      }
    }
    &__middle{
      @include address-middle;
      width: 60%;
      border-top: 1px solid $border-color;
      &__name{
        &__upper{
          @include upper;
          display: flex;
          &--label{
            @include label;
          }
          &--require{
            @include require
          }
        }
        &__family{
          @include name-box;
        }
        &__first{
          @include name-box;
        }
      }
      &__name-kana{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include require;
          }
        }
        &__family{
          @include name-box;
        }
        &__first{
          @include name-box;
        }
      }
      &__post-code{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include require;
          }
        }
        &__input{
          @include name-box;
        }

      }
      &__prefecture{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include require;
          }
        }
        &__input{
          @include name-box;
        }
      }
      &__city{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include require;
          }
        }
        &__input{
          @include name-box;
        }
      }
      &__address1{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include require;
          }
        }
        &__input{
          @include name-box;
        }
      }
      &__address2{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include arbitrary;
          }
        }
        &__input{
          @include name-box;
        }
      }
      &__phone{
        &__upper{
          @include upper;
          &--label{
            @include label;
          }
          &--require{
            @include arbitrary;
          }
        }
        &__input{
          @include name-box;
        }
      }
    }
    &__bottom{
      &__btn{
        @include btn;
      }
    }
  }
}