

@import "variables.scss";

* {
  box-sizing: border-box;
}

.wrapper{
  @include purchase-wrapper;
}
.index{
  @include index;
  &__container{
    @include container;
    &__top{
      @include top;
      &__title{
        @include title;
      }
    }
    &__payment-info{
      @include purchase-middle;
      &__item{
        @include border-top;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 40%;
        width: 60%;
        &__all{
          display: flex;
          margin: 0 auto;
          &__img{
            background-color: blue;
            width: 30%;
          }
          &__right-content{

            width: 70%;
            &__name{
              background-color: red;
              height: 50%;
            }
            &__price{
              background-color: green;
              height: 50%;
            }
          }
        }
      }
      &__price{
        @include border-top;
        position: relative;
        height: 20%;
        width: 60%;
        margin: 0 auto;
        &__upper{
          display: flex;
          &--left{
          }
          &--right{
            margin: 0 0 0 auto;
            font-size: x-large;
          }
        }
        &--bottom{
          background-color: green;
        }
      }
      &__method{
        height: 20%;
        width: 60%;
        display: flex;
        margin: 0 auto;
        position: relative;
        @include border-top;
        &--upper{

        }
        &--lower{
          margin: 0 0 0 auto;
        }
      }
      &__address{
        @include border-top;
        height: 20%;
        width: 60%;
        margin: 0 auto;
        position: relative;
        &--upper{
          position: absolute;
          left:20px;
          top: 20px;
        }
        &--lower{
          position: absolute;
          left: 20px;
          top: 50px;
        }
      }
    }
    &__bottom{
      @include bottom;
      &__btn{
        @include btn;
      }
    }
  }
}