.index
  .index__top
    発送元・お届け先住所入力
  .index__middle
    .index__middle__name
      .index__middle__name__family
        姓：山田
      .index__middle__name__first
        名：太郎
    .index__middle__name-kana
      .index__middle__name-kana__family
        せい:やまだ
      .index__middle__name-kana__family
        めい：たろう
    .index__middle__post-code
      郵便番号：000-0000
    .index__middle__post-prefecture
      都道府県：東京都
    .index__middle__post-city
      市区町村：国立市
    .index__middle__address1
      住所1：富士見町
    .index__middle__address2
      住所２：１−１−１
    .index__middle__phone
      電話番号：000-0000-0000
  .index__bottom
    .index__bottom__btn
      登録する
