.item
  = link_to item_path(item.id) do
    - item.item_images.each_with_index do |image, i|
      - if i == 0
        = image_tag image.image.url
    .item__info
      %h3.item__info__name
        = item.name
      .item__info__details
        %ul
          %li.price
            = item.price
            円
          %li.likes 0
        %p （税込）