.header
  %img{alt:'', height: '50', src: "/assets/logo.png"}
.contents
  .contents__note
    <span>※</span>が付いたものは必須項目です。

  .item__infomation
    .images
      .images__title
        出品画像
        %b
          ※
      = form_with model: @image do |f|
        .images__form
        = f.file_field :img

    .name
      .name__title
        商品名
        %b
          ※
      %input.name__form{:name => 'name', :value => '', :placeholder => '15文字以内で入力', :type => 'name'}/

    .description
      .description__title
        商品の説明
        %b
          ※
        %input.description__form{:name => 'description', :value => '', :placeholder => '商品の詳細について（200文字以内）', :type => 'description'}/
    .category
      .category__title
        カテゴリー
        %b
          ※
      %input.category__form{:name => 'category', :value => '', :placeholder => '10文字以内で入力', :type => 'category'}/
    .brand
      .brand__title
        ブランド
      %input.brand__form{:name => 'brand', :value => '', :placeholder => '10文字以内で入力', :type => 'brand'}/
    .condition
      .condition__title
        商品の状態
        %b
          ※
      %input.condition__form{:name => 'condition', :value => '', :placeholder => '20文字以内で入力', :type => 'condition'}/
  .delivery
    .fee
      .fee__title
        配送料の負担
        %b
          ※
      %input.fee__form{:name => 'fee', :value => '', :placeholder => '', :type => 'fee'}/
    .area
      .area__title
        発送元の地域
        %b
          ※
      %input.area__form{:name => 'area', :value => '', :placeholder => '', :type => 'area'}/
    .days
      .days__title
        発送までの日数
        %b
          ※
      %input.days__form{:name => 'days', :value => '', :placeholder => '', :type => 'days'}/
  .selling
    .price
      .price__title
        販売価格
        %b
          ※
      %input.price__form{:name => 'price', :value => '', :placeholder => '', :type => 'price'}/
    .commission
      %ul
        %li
          販売手数料（10％）
        %li
          _______
    .profits
      %ul
        %li
          販売利益
        %li
          _______
  .exhibit
    %input{type: 'submit', value:"登録する", class: 'btn'}
  .return
    = link_to '戻る', "#", class: 'return__button'
.footer