.single{
  .single-header{
  }
}
.container{
  @include container;
  &__top{
    @include top;
    @include title;
  }
  &__form__frame{
  .form-group{
    .signup__card--list{
      display: flex;
      .icon{
        &--visa{
          width: 50px;
        }
        &--master{
          width: 50px;
        }
        &--jcb{
          width: 50px;
        }
        &--amex{
          width: 50px;
        }
        &--diners{
          width: 50px;
        }
      }
    }
    &__require{
      @include require;
    }
    &__input{
      width: 200px;
      height: 30px;
    }
    &__card{
      }
    }
  }
}

